<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>Pancake</li>
      <li>Cake</li>
      <li>Boba Tea</li>
      <li>add more...</li>
    </ul>

  <style>

    body {
      background-color: #e7e696;
    }

    h1 {
      color: #ff8601;
    }

  </style>
  </body>
</html>